
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1a1a1a;  
}


.header-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap; 
}


.header-left {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
}


.logo-title {
    font-size: 3rem; 
    font-weight: bold;
    color: #fff;  
    margin-right: 30px; 
}


.categories ul {
    list-style-type: none;
    margin-bottom: 10px;  
}

.categories li {
    display: inline;
    margin-right: 20px;
}

.categories a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem; 
}


.lorem1 {
    color: #fff; 
    font-size: 1.2rem; 
    margin-top: 10px;  
    line-height: 1.5;  
}


.header-right img {
    max-width: 400px;  
    height: auto;  
}
